body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* 抽取的间隙类 */
.mt {
    margin-top: 10px;
}

.mb {
    margin-bottom: 10px;
}

.ml {
    margin-left: 10px;
}

.mr {
    margin-right: 10px;
}